<!DOCTYPE html>
<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
　　　　<title>{{ page.title }}</title>
　　</head>

　　<body>

　　　　{{ content }}

　　</body>

    <footer id="page_footer">
        <p>Copyright © 2014-2015 YourNameIsGood.</p>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="terms_service">Terms of Service</a></li>
                <li><a href="privacy">Privacy</a></li>
            </ul>
        </nav>
    </footer>

</html>


<script src="{{site.baseurl}}/javascripts/ga.js"></script>
 