<!DOCTYPE html>
<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
　　</head>

　　<body>

　　　　{{ content }}

　　</body>

    <footer id="page_footer">
        <p>Copyright © 2014 YourNameIsGoodCo.</p>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}home">Home</a></li>
                <li><a href="{{ site.baseurl }}about">About</a></li>
                <li><a href="{{ site.baseurl }}terms_service">Terms of Service</a></li>
                <li><a href="{{ site.baseurl }}privacy">Privacy</a></li>
            </ul>
        </nav>
    </footer>

</html>


<script src="javascripts/ga.js"></script>
 